
<h2 class="fb">Hello Facebook</h2>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div>
                <div class="alert alert-info" data-ng-show="salutation">Hello, {{user.name}}</div>
                <div class="alert alert-warning" data-ng-show="byebye">Logged out!</div>
            </div>

            <md-button style="background-color: #3b60bd" class="primary md-raised" data-ng-show="!logged" data-ng-disabled="!facebookReady" data-ng-click="IntentLogin()">Login with Facebook</md-button>
            <md-button style="background-color: #3b60bd" class="primary md-raised" data-ng-show="logged" data-ng-disabled="!facebookReady" data-ng-click="logout()">Logout</md-button>

            <div>
                <debug val="user"></debug>
            </div>

        </div>
    </div>
</div>