


<div style="margin:20px">
    <table>
        <tr ng-repeat="row in game.grid">
            <td ng-repeat="tile in row" ng-click="game.flipTile(tile)">
                <div class="flip_container">
                    <div class="card" ng-class="{flipped: tile.flipped}">
                        <img class="front" ng-src="image/flip_img/pb.png">
                        <img class="back" ng-src="image/flip_img/{{tile.title}}.png">
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<md-button ng-click="refresh()">Refresh</md-button>

