
	<h2 class="fb">Introduction</h2>
  	<accordion close-others=false>
    	<accordion-group heading="Angular Material" class="myAccordion">
      		<p>	The Angular Material project is an implementation of Material Design in Angular.js. This project provides a set of reusable, well-tested, and accessible UI components based on the Material Design system.</p>
      		<p>Material Design is a specification for a unified system of visual, motion, and interaction design that adapts across different devices and different screen sizes.</p>
      		<md-button target="_blank" href="https://material.angularjs.org/" >Angular Material</md-button>
    	</accordion-group>

    	<accordion-group heading="Angular UI">
    		<md-button target="_blank" href="https://github.com/angular-ui/ui-router">UI Router</md-button>
    		<br/><br/>
    		<md-button target="_blank" href="https://angular-ui.github.io/bootstrap/">UI Bootstrap</md-button>
    	</accordion-group>

    	<accordion-group heading="Angular Services">
    		<md-button target="_blank" href="https://docs.angularjs.org/api/ngResource/service/$resource">
        		Angular Resource Service
    		</md-button>
    	</accordion-group>
  	</accordion>
