<!-- <div id="headBar">
    <div style="float:left; margin:16px 0 16px 20px;" ng-click="toggleLeft()" hide-gt-sm>
        <span  class="glyphicon glyphicon-th-list" style="font-size:25px; color: white"></span>
    </div>
    <h2>Simple Portfolio - AKA</h2>
</div> -->
<!-- <div flex layout="row"> -->
    <md-sidenav flex="22" md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z2" md-component-id="left"
    style="overflow:auto">
        <md-list>
            <md-item ng-repeat="topic in topics">
                <md-button ng-click="expression=topic.name;close()"
                           ng-class="{'selected' : expression = topic.name }"
                           ui-sref={{topic.state}}>
                    <md-icon md-svg-icon={{topic.icon}} class="avatar"></md-icon>
                    {{topic.name}}
                </md-button>
            </md-item>
        </md-list>
    </md-sidenav>
    <md-content flex="77" id="content">
        <div ui-view></div>
    </md-content>
<!-- </div> -->